.button{
    width: 153px;
    height: 32px;
    background-color: $main-color;
    border-radius: 5px;
    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border:none;
    &__main{
        width: 303px;
        height: 54px;
        margin: 65px 0 8px 0;
    }
    &_submit{
        margin-top: 17px;
        width: 303px;
        height: 58px;
        background: #C70101;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}